{% extends "base.html" %}

{% block title %}
  Post List
{% endblock title %}

{% block content %}

  <h3>Post List</h3>
  <div class="row mt-5">
    {% for post in post_list %}
      <div class="col-4">
          <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; height: 25rem;">
              <img src="{{ post.image.url }}" class="card-img-top" alt="post_image">
              <hr>
              <div class="card-body">
                  <a href="{% url 'main:post_details' post.slug %}"><h5 class="card-title">{{post.title}}</h5></a>
                  <p class="card-text">{{post.content|truncatechars:20}}</p>
                  <p>
                      <span><i class="far fa-comment-alt ml-2"></i> {{ post.get_comment_count }}</span>
                      <span><i class="fas fa-eye ml-2"></i> {{ post.get_postview_count }}</span>
                      <span><i class="far fa-heart ml-2"></i> {{ post.get_like_count }}</span>
                  <p class="card-text"><small>
                          Posted {{ post.publish_date|timesince }} ago.
                      </small>
                  </p>
                  </p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>

{% endblock content %}
