{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Post Details
{% endblock title %}

{% block content %}
  <h3>{{post.title}}</h3>
  <img src="{{ post.image.url }}" alt="post_image" style="width: 400px;">
  <p>{{post.content}}</p>

  {% if user.id == post.author.id %}
    <a href="{% url 'main:update_post' post.slug %}"><input type="button" value="Change"></a>
  {% endif %}

  <form action="{% url 'main:like_post' post.slug %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="user">
    <input type="hidden" name="post">
    <button type="submit">Like</button>{{ post.get_like_count }}
  </form>
  
  <form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Comment</button>
  </form>

  {% for comment in post.get_comments %}
    <hr>
    <div>
      <p>{{ comment.content }}</p>
      <p>comment by {{ comment }}</p>
    </div>
  {% endfor %}

{% endblock content %}